*.gem
*.rbc
.dat*
.repl_history
.rvmrc
.vagrant
/.bundle/
/.config
/.yardoc/
/_yardoc/
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/InstalledFiles
/lib/bundler/man/
/log/*.log
/pkg/
/rdoc/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
build/
/public/uploads
.git_bkp/
public/cache
public/images
*.DS_Store
